.skills-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
    padding: 20px;
    margin-left: 4em;
    margin-top: 2em;
    margin-bottom: 8em;
    margin-right: 1.5em;
}

.skill-item img:hover{
    transform: scale(1.05);
}

.skill-item {
    width: 15em;  
    height: 15em; 
}

.skill-item img {
    width: 100%; 
    height: 100%;  
    object-fit: cover;
    border-radius: 2em;
    transition: transform 0.3s; 
}

.skill-item h3{
    margin-top: 1em;
}

.box{
    padding-top: 5em;
    text-align: center;
}
